/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #004080;
  --ifm-color-primary-dark: #003973;
  --ifm-color-primary-darker: #00366c;
  --ifm-color-primary-darkest: #002c59;
  --ifm-color-primary-light: #00478d;
  --ifm-color-primary-lighter: #004a93;
  --ifm-color-primary-lightest: #0054a6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #66b3ff;
  --ifm-color-primary-dark: #4da6ff;
  --ifm-color-primary-darker: #409fff;
  --ifm-color-primary-darkest: #1a8cff;
  --ifm-color-primary-light: #80c0ff;
  --ifm-color-primary-lighter: #8cc6ff;
  --ifm-color-primary-lightest: #b3d9ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
